<template>
  <div id="app">
    <MySeparator space="50" />
    <MyContainer gap="8" align="center" :filling="color">
      <MyImage alt="Vue logo" src="https://picsum.photos/200/300" label="new" />
    </MyContainer>
    <MyTitle text="Выберите цвет заливки" component="h2" align="center" />
    <MySeparator space="8" />
    <MyContainer gap="8" column="3">
      <MyInput type="color" id="1" @input="inputHandler" v-model="color" />
      <MyButton text="Скопировать цвет" :disabled="!color" @click="clickHandler" />
      <MyButton text="Сбросить" type="reset" :disabled="!value" @click="resetHandler" />
    </MyContainer>
  </div>
</template>

<script>
import {MyTitle} from "route-256-uikit-liubimov";
import {MyImage} from "route-256-uikit-liubimov";
import {MyInput} from "route-256-uikit-liubimov";
import {MyButton} from "route-256-uikit-liubimov";
import {MySeparator} from "route-256-uikit-liubimov";
import {MyContainer} from "route-256-uikit-liubimov";

export default {
  name: "App",
  components: {
    MyTitle,
    MyImage,
    MyInput,
    MyButton,
    MySeparator,
    MyContainer
  },
  data() {
    return {
      value: "",
      color: ""
    };
  },
  methods: {
    inputHandler(value) {
      this.color = value;
    },
    clickHandler() {
      this.value = this.color;
      navigator.clipboard.writeText(this.value);
    },
    resetHandler() {
      this.value = "";
      this.color = "";
    }
  }
};
</script>

<style>
#app {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--black);
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 960px;
  margin: 0 auto;
}
</style>
